{% extends 'blood/adminbase.html' %}

{% block content %}
    {% load widget_tweaks %}
    {% load static %}
    <br><br>
    <div class="container">
        <h4 class="text-center">BLOOD DONATION DETAILS</h4><br>
        {% for t in donations %}
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Donor Name: {{ t.donor }}</h5>
                            <p class="card-text">Disease: {{ t.disease }}</p>
                            <p class="card-text">Age: {{ t.age }}</p>
                            <p class="card-text">Blood Group: {{ t.bloodgroup }}</p>
                            <p class="card-text">Unit: {{ t.unit }}</p>
                            <p class="card-text">Request Date: {{ t.date }}</p>
                            <p class="card-text">Status: {{ t.status }}</p>
                            {% if t.status == 'Pending' %}
                                <div class="text-right mt-3">
                                    <a href="{% url 'approve-donation' t.id %}" class="btn" style="background-color: #4CAF50; color: white;">APPROVE</a>
                                    <a href="{% url 'reject-donation' t.id %}" class="btn" style="background-color: #f44336; color: white;">REJECT</a>
                                </div>
                            {% elif t.status == 'Approved' %}
                                <p class="card-text"><span class="label warning">{{ t.unit }} Unit Added To Stock</span></p>
                            {% else %}
                                <p class="card-text"><span class="label danger">0 Unit Added To Stock</span></p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <br>
        {% endfor %}
    </div>
{% endblock content %}
