{% extends 'blood/adminbase.html' %}

{% block content %}
    {% load widget_tweaks %}
    {% load static %}
    <br><br>
    <div class="container">
        <h4 class="text-center">Blood Request History</h4><br>
        {% if message %}
            <h5 class="text-center" style="color: red;">{{ message }}</h5><br>
        {% endif %}
        {% for t in requests %}
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Patient Name: {{ t.patient_name }}</h5>
                            <p class="card-text">Age: {{ t.patient_age }}</p>
                            <p class="card-text">Reason: {{ t.reason }}</p>
                            <p class="card-text">Blood Group: {{ t.bloodgroup }}</p>
                            <p class="card-text">Unit (in ml): {{ t.unit }}</p>
                            <p class="card-text">Date: {{ t.date }}</p>
                            {% if t.status == 'Approved' %}
                                <p class="card-text">Status: <span class="label warning">Approved</span></p>
                                <p class="card-text">Stock Status: <span class="label warning">{{ t.unit }} Unit Deducted From Stock</span></p>
                            {% else %}
                                <p class="card-text">Status: <span class="label success">Rejected</span></p>
                                <p class="card-text">Stock Status: <span class="label success">0 Unit Deducted From Stock</span></p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <br>
        {% endfor %}
    </div>
{% endblock content %}
