{% extends 'blood/adminbase.html' %}

{% block content %}
    {% load widget_tweaks %}
    {% load static %}
    <br><br>
    <div class="container">
        <h4 class="text-center">PATIENT DETAILS</h4><br>
        {% for t in patients %}
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Name: {{ t.get_name }}</h5>
                            <p class="card-text">Blood Group: {{ t.bloodgroup }}</p>
                            <p class="card-text">Age: {{ t.age }}</p>
                            <p class="card-text">Disease: {{ t.disease }}</p>
                            <p class="card-text">Mobile: {{ t.mobile }}</p>
                            <img src="{% static t.profile_pic.url %}" alt="Profile Pic" class="img-fluid">
                            <div class="text-right mt-3">
                                <a href="{% url 'update-patient' t.id %}" class="btn" style="background-color: #6c757d; color: #fff;">EDIT</a>
                                <a href="{% url 'delete-patient' t.id %}" class="btn" style="background-color: #000000; color: #fff;">DELETE</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        {% endfor %}
    </div>
{% endblock content %}
